graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
include .github/workflows/github-actions.yml
include .pre-commit-config.yaml
include pytest.ini
include tox.ini

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt
include *.template
include *.yml
include *.yaml
include *.json

include *.ps1
recursive-include notebooks *.ipynb
recursive-include scripts *.ps1
recursive-include scripts *.py

global-exclude *.py[cod] __pycache__/* *.so *.dylib
global-exclude .DS_Store .DS_Store? .Trashes .Spotlight .AppleDouble .LSOverride
global-exclude .vscode .idea .git .gitignore .gitattributes .gitmodules .gitkeep *.code-workspace
global-exclude *.bak *.swp *.tmp
global-exclude .coverage .coverage.* .pytest_cache .mypy_cache .tox .nox
global-exclude */venv/* */.venv/* */env/* */.env/* */dist/* */build/* */.eggs/*
global-exclude .github .github/* .github/workflows/* .github/ISSUE_TEMPLATE/* .github/PULL_REQUEST_TEMPLATE/*
global-exclude .gitlab .gitlab/* .gitlab-ci.yml
global-exclude .travis.yml
global-exclude */version.py


global-exclude *.py[cod] __pycache__/* *.so *.dylib
