click
beautifulsoup4
requests
pymongo
pydantic
python-dotenv
databasetools @ git+https://github.com/cosgroma/database-tools@main
python-docx
PyPDF2
reportlab
pdfminer.six
mkdocs-material
pymdown-extensions
mkautodoc
mkdocs-click
mkdocs-table-reader-plugin
